<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>漫推 {{ user.username }} 的流量使用记录</title>
    {% include 'mainsite/load_bootstrap.html' %}
</head>
<body>
{% include 'mainsite/book_info_header.html' %}
<div class="container">

    <div class="row" style="height: 4em;"></div>

    <div class="row"><h3>{{ user.username }} 的流量使用记录</h3></div>


    <div class="row">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col"></th>
                <th>书名</th>
                <th>卷名</th>
                <th>用量(MB)</th>
                <th>消费前流量(MB)</th>
                <th>消费后流量(MB)</th>
                <th>消费时间</th>
                <th>类型</th>

            </tr>
            </thead>

            <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ forloop.counter }} </td>
                    <td>{{ record.volume.book.title }}</td>
                    <td>{{ record.volume.name }}</td>
                    <td>{{ record.bandwidth_cost }}</td>
                    <td>{{ record.user_bandwidth_before }}</td>
                    <td>{{ record.user_bandwidth_after }}</td>
                    <td>{{ record.cost_date | date:'n月d日 Y年 G:i' }}</td>
                    <td> {{ record.action }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">首页</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page=1" tabindex="-1"
                                                  aria-disabled="true">首页</a></li>
            {% endif %}
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1"
                                         aria-disabled="true">上一页</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">上一页</a>
                </li>
            {% endif %}
            <li class="page-item"><a class="page-link active">{{ page.number }}</a></li>
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">下一页</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
            {% endif %}
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">尾页</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">尾页</a></li>
            {% endif %}
        </ul>
    </nav>

</div>

</body>
</html>