<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }} kindle待推送队列</title>
    {% include 'mainsite/load_bootstrap.html' %}
</head>
<body>
{% include 'mainsite/book_info_header.html' %}
<div class="container">

<div class="row" style="height: 4em;"></div>
{% if is_global %}
<div class="row"> <h3>全站推送队列</h3></div>
{% else %}
<div class="row"> <h3>{{ user.username }} 的推送队列</h3></div>
{% endif %}


<div class="row">
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">编号</th>
      <th>书名</th>
      <th>卷名</th>
      <th>状态</th>
      <th>入队时间</th>
    </tr>
  </thead>

  <tbody>
    {% for task in page %}
    <tr {% if task.status == 'done' %}class="table-success"{% endif %}>
    <td>{{ forloop.counter }} </td>
    <td>{{ task.volume.book.title }}</td>
    <td>{{ task.volume.name }}</td>
    <td>{% if task.status == 'pending'%}排队等待推送 {% elif task.status == 'doing' %}正在推送{% elif task.status == 'done' %}推送成功{% elif task.status == 'error' %}推送出错{% endif %}</td>
    <td>{{ task.added_date | date:'n月d日 Y年 G:i' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
      {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">首页</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">首页</a></li>
      {% endif %}
      {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1" aria-disabled="true">上一页</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">上一页</a></li>
      {% endif %}
        <li class="page-item"><a class="page-link active">{{ page.number }}</a> </li>
    {% if page.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">下一页</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
    {% endif %}
    {% if page.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages  }}">尾页</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">尾页</a></li>
    {% endif %}
  </ul>
</nav>

</div>

</body>
</html>