{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>登陆</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'mainsite/load_bootstrap.html' %}
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'account/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/main.css' %}">
<!--===============================================================================================-->
    <script>

        onloginerror = function () {
            console.log("error");
        }

        function register() {
            message_box = document.getElementById("message-box");
            message_box_text = document.getElementById("message-box-txt");
            message_box.style.display='none';
            message_box_text.innerHTML = '';

            let username = document.getElementById('username').value;
            let password = document.getElementById('password').value;
            let email = document.getElementById('email').value;
            if (password.length <6){
                message_box_text.innerHTML = "パスワードは6文字以上！";
                message_box.style.display = 'block';
            }else if (email.length<3){
                message_box_text.innerHTML = "メールアドレスに問題があります！";
                message_box.style.display = 'block';
            }
            else{
                message_box.style.display='block';
                message_box_text.innerHTML = 'いま登録しています...';
                document.getElementById('reg-btn').disabled = true;
                let crsfsession = $("[name='csrfmiddlewaretoken']")[0].value;
                {% if invite_code %}
                    let postdata = `username=${username}&password=${password}&csrfmiddlewaretoken=${crsfsession}&email=${email}&invite_code={{ invite_code }}`;
                {% else %}
                    let postdata = `username=${username}&password=${password}&csrfmiddlewaretoken=${crsfsession}&email=${email}`;
                {% endif %}

                var xmlhttp = new XMLHttpRequest();
                xmlhttp.onload = function (event) {
                    if (xmlhttp.status == 200){
                        console.log("注册返回了结果");
                        console.log(xmlhttp.responseText);
                        res = xmlhttp.responseText;
                        if (res.includes('username can\'t use')) {
                        message_box.style.display='block';
                        message_box_text.innerHTML = 'このユーザー名は使えません！';
                        }else if (res.includes('password too short!')){
                        message_box.style.display='block';
                        message_box_text.innerHTML = 'パスワードは6文字以上です！';
                        }else if (res.includes('same username already exits')) {
                        message_box.style.display='block';
                        message_box_text.innerHTML = 'このユーザ名はすでに使われています';
                        }else if (res.includes('email already used')) {
                        message_box.style.display='block';
                        message_box_text.innerHTML = `このメールアドレスは既に使われています`;
                        }else if (res.includes('email can\'t use')) {
                        message_box.style.display='block';
                        message_box_text.innerHTML = 'メールアドレスのフォーマットに問題があります！';
                        }else if (res.includes('mail over limit')) {
                        message_box.style.display='block';
                        message_box_text.innerHTML = '一日中メール１０通しか送れません！';
                        }else if (res.includes('don\'t use email as username')) {
                        message_box.style.display='block';
                        message_box_text.innerHTML = 'メールアドレスをユーザ名として使わないでください！';
                        }else{
                            message_box.style.display='block';
                            message_box_text.innerHTML = '登録成功！メールボックスを確認してください！（メールは迷惑メールボックスに入る可能性があります）';
{#                            {% if redirect_path != None %}#}
{#                                setTimeout("location.href = '{{ redirect_path }}';",1000);#}
{##}
{#                            {% else %}#}
{#                                setTimeout(" location.href = '/'",1000);#}
{#                            {% endif %}#}
                        }



                    }
                    else{
                        document.getElementById('reg-btn').disabled = false;
                        message_box.style.display='block';
                        message_box_text.innerHTML = '未知な問題';
                    }
                    document.getElementById('reg-btn').disabled = false;
            };
                xmlhttp.error = onloginerror;
                xmlhttp.open('post',"{% url 'account:register' %}");
                xmlhttp.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
                xmlhttp.send(postdata);
            }
        }
    </script>
</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'account/images/img-01.jpg' %}');">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form id="login-form" class="login100-form validate-form" method="post" action="{% url 'account:register' %}">
                    {% csrf_token %}
					<div class="login100-form-avatar">
						<img src="{% static 'account/images/akkarin.png' %}" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
                        登録
					</span>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" id="email" type="text" name="email" placeholder="メールアドレス">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
						<input class="input100" id="username" type="text" name="username" placeholder="ユーザ名（メールアドレスを入れないでください）">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" id="password" type="password" name="password" placeholder="パスワード">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock"></i>
						</span>
					</div>


					<div class="container-login100-form-btn p-t-10">
						<button id="reg-btn" class="login100-form-btn" onclick="register()" type="button">
							登録
						</button>
					</div>
					<div id="message-box" class="text-center w-full p-t-10 p-b-10" style="display: none">
						<p id="message-box-txt" class="txt1 text-warning">

						</p>
					</div>


					<div class="text-center w-full">
						<a class="txt1" href="{% url 'account:login' %}">
							ログイン - KindleGalleryPusher
							<i class="fa fa-long-arrow-right"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>





<!--===============================================================================================-->
	<script src="{% static 'account/vendor/bootstrap/js/popper.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/js/main.js' %}"></script>

</body>
</html>