<input type="file" name="uploaded_image" />
<div style="overflow-x:auto;white-space: nowrap;height: 300px;">
<script>
    document.getElementById("book_form").setAttribute("enctype","multipart/form-data")
</script>

    {% for cover in covers %}
        <div style="display: inline-block;;margin: 5px;width: 100px;height: 100%;">
            <div style="text-align: center"><p>{{ cover.id }}</p></div>
            <div><img src="/{{ cover.thumb_image.url }}" style="width: 100px"></div>

            <div align="center"> <input type="radio"
                    {% if cover.id == cover_id %}
                        checked="checked"
                    {% endif %}
                    id="{{ cover.id }}" name="cover_select_radio" value="{{ cover.id }}"></div>
        </div>
    {% endfor %}
</div>

