{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ book.title }}</title>
    {% include "mainsite/load_bootstrap.html" %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <script src=https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css></script>
    <script>
        function push_volume(button, force) {
            button.disabled = true;
            volume_id = button.getAttribute('volumeid');
            console.log("push volume id：" + volume_id);
            xmlhttp = new XMLHttpRequest();
            csrf = document.querySelector("input[name='csrfmiddlewaretoken']").value;
            xmlhttp.onload = function () {
                button.disabled = false;
                if (xmlhttp.status == 200) {
                    if (xmlhttp.responseText.includes('Already in queue')) {
                        alert("此卷正在你的待推送队列中！请勿重复提交推送！")
                    } else if (xmlhttp.responseText.includes('Have pushed before')) {
                        if (confirm("此卷之前已经推送完成过，是否再次推送？")) {
                            push_volume(button, true);
                        }
                    } else if (xmlhttp.responseText == "ok") {
                        alert("加入推送队列成功！ 具体推送进度请参照个人的推送队列页面！")
                    } else if (xmlhttp.responseText.includes('Now in pushing')) {
                        alert("当前正在推送这本书！")
                    } else if (xmlhttp.responseText.includes('bandwidth less')) {
                        alert("推送流量已不够，是否考虑捐助Vip？")
                    } else if (xmlhttp.responseText.includes('No kindle email')) {
                        alert("您未设置推送的kindle邮箱，请去个人主页中设置！")
                    }
                    else {
                        alert("推送失败！");
                    }

                } else if (xmlhttp.status == 404) {
                    alert("404 失败！")

                }

            };

            if (force) {
                data = `volume_id=${volume_id}&csrfmiddlewaretoken=${csrf}&fore_push=true`;
            } else {
                data = `volume_id=${volume_id}&csrfmiddlewaretoken=${csrf}`;
            }
            xmlhttp.open('post', '{% url "main_site:book_push" book_id=book.id %}');
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(data);

        }
    </script>
    <script>
        window.addEventListener('load', function () {
            console.log("start");
            //document.getElementById("bt-sbsc").addEventListener('click',bt_unsbsc);
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function makehttprequest(url, method, onload) {
            xmlhttp = new XMLHttpRequest();
            csrf = getCookie('csrftoken');
            data = `csrfmiddlewaretoken=${csrf}`;
            xmlhttp.onload = function () {
                if (xmlhttp.status == 200) {
                    onload(xmlhttp.responseText);
                }
            };
            xmlhttp.open(method, url);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
            xmlhttp.send(data);
        }

        function unsbsc() {
            let bt_sbsc = document.getElementById("bt-sbsc");
            let bt_unsbsc = document.getElementById('bt-unsbsc');
            let bt_collec = document.getElementById('bt-collec');
            let bt_uncollec = document.getElementById('bt-uncollec');
            makehttprequest("{% url 'main_site:book_subscribe' book_id=book.id%}",
                'delete',
                function (response_text) {
                    if (response_text == 'ok') {
                        console.log("取消订阅成功");
                        $('#unsbsc-ok').toast("show");
                    }
                });

            bt_unsbsc.style.display = 'inline';
            bt_sbsc.style.display = 'none';
        }

        function sbsc() {
            let bt_sbsc = document.getElementById("bt-sbsc");
            let bt_unsbsc = document.getElementById('bt-unsbsc');
            let bt_collec = document.getElementById('bt-collec');
            let bt_uncollec = document.getElementById('bt-uncollec');
            console.log("开始订阅");
            makehttprequest("{% url 'main_site:book_subscribe' book_id=book.id%}",
                'post',
                function (response_text) {
                    if (response_text == 'ok') {
                        console.log("订阅成功");
                        $('#sbsc-ok').toast("show");
                    }
                });

            bt_unsbsc.style.display = 'none';
            bt_sbsc.style.display = 'inline';
        }

        function uncollec() {
            let bt_sbsc = document.getElementById("bt-sbsc");
            let bt_unsbsc = document.getElementById('bt-unsbsc');
            let bt_collec = document.getElementById('bt-collec');
            let bt_uncollec = document.getElementById('bt-uncollec');
            makehttprequest("{% url 'main_site:book_collect' book_id=book.id%}",
                'delete',
                function (response_text) {
                    if (response_text == 'ok') {
                        console.log("取消收藏成功");
                        $('#uncollec-ok').toast("show");
                    }
                });
            bt_uncollec.style.display = 'inline';
            bt_collec.style.display = 'none';
        }

        function collec() {
            let bt_sbsc = document.getElementById("bt-sbsc");
            let bt_unsbsc = document.getElementById('bt-unsbsc');
            let bt_collec = document.getElementById('bt-collec');
            let bt_uncollec = document.getElementById('bt-uncollec');
            makehttprequest("{% url 'main_site:book_collect' book_id=book.id%}",
                'post',
                function (response_text) {
                    if (response_text == 'ok') {
                        console.log("收藏成功");
                        $('#collec-ok').toast("show");
                    }
                });
            bt_uncollec.style.display = 'none';
            bt_collec.style.display = 'inline';
        }
    </script>
    <script>
        function download_volume(a, type) {
            volume_id = a.getAttribute("vid");
            xmlhttp = new XMLHttpRequest();
            csrf = document.querySelector("input[name='csrfmiddlewaretoken']").value;
            xmlhttp.onload = function () {

                if (xmlhttp.status == 200) {
                    if (xmlhttp.responseText.includes('ok')) {
                        console.log("生成下载连接成功！");
                        download_url = `{% url 'volume_download' %}?volume_id=${volume_id}&type=${type}`;
                        console.log(download_url);
                        location.href = download_url;
                    } else if (xmlhttp.responseText.includes('bandwidth not enough')) {
                        alert("您剩余流量已经不够！")
                    }else if (xmlhttp.responseText.includes('only vip')) {
                        alert("您好，因为体积较大Zip格式仅供Vip用户下载！")
                    }

                } else if (xmlhttp.status == 404) {
                    alert("404 失败！")

                }
            };




                data = `volume_id=${volume_id}&type=${type}&csrfmiddlewaretoken=${csrf}`;
                xmlhttp.open('post', '{% url 'volume_download' %}');
                xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xmlhttp.send(data);

            }

    </script>
</head>
<body>
<div class="container">
    {% include "mainsite/book_info_header.html" %}
    {% csrf_token %}
    <div style="height: 5em;"></div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    {{ book.title }}
                    <small> {% if book.end %}已完结{% else %}未完结{% endif %} </small>
                </h1>

            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column" style="text-align: center">
            <div><img alt="cover_img" src="{{ cover_image.normal_image.url }}" class="img-rounded"
                      style="width: 150px;"/></div>
            <div style="height: 1em;"></div>
            <div>
                {% if user.id %}
                    <button id="bt-unsbsc" class="btn btn-light"
                            {% if book in user.subscriptes.all %}style="display: none" {% endif %} onclick="sbsc()"><img
                            src="{% static 'mainsite/icons/unsubscribe.svg' %}"> <span>未订阅</span></button>
                    <button id="bt-sbsc" class="btn btn-light"
                            {% if not book in user.subscriptes.all %}style="display: none" {% endif %}
                            onclick="unsbsc()"><img src="{% static 'mainsite/icons/subscribe.svg' %}"> <span>已订阅</span>
                    </button>
                    <button id="bt-uncollec" class="btn btn-light"
                            {% if book in user.collections.all %}style="display: none" {% endif %} onclick="collec()">
                        <img src="{% static 'mainsite/icons/unstared.svg' %}"> <span>未收藏</span></button>
                    <button id="bt-collec" class="btn btn-light"
                            {% if not book in user.collections.all %}style="display: none" {% endif %}
                            onclick="uncollec()"><img src="{% static 'mainsite/icons/stared.svg' %}"> <span>已收藏</span>
                    </button>
                    <div id="colle-ok" class="toast hide">
                        <div class="toast-header">收藏</div>
                        <div class="toast-body">收藏成功</div>
                    </div>
                    <div id="uncollec-ok" class="toast hide">
                        <div class="toast-header">收藏</div>
                        <div class="toast-body">取消收藏成功</div>
                    </div>
                    <div id="unsbsc-ok" class="toast hide">
                        <div class="toast-header">订阅</div>
                        <div class="toast-body">取消订阅成功</div>
                    </div>
                    <div id="sbsc-ok" class="toast hide">
                        <div class="toast-header">订阅</div>
                        <div class="toast-body">订阅成功</div>
                    </div>
                {% endif %}

            </div>

        </div>
        <div class="col-md-8 column">
            <p style="font-size: 1.2em;margin-top: 1em">分类:&ensp;
                {% for catalog_tag in book.get_book_catalogs %}
                    <a href="{% url 'search_site:search_page' %}?catalog={{ catalog_tag.name }}"> {{ catalog_tag.name }}</a> {% endfor %}
            </p>

            <p style="font-size: 1.2em;margin-top: 1em"> 作者:&ensp;
                {% for author in book.author.all %}
                    <a href="{% url 'search_site:search_page' %}?author={{ author.name }}">{{ author.name }}</a>&ensp;
                {% endfor %}</p>

            <h3>简介</h3>
            <p>
                {{ book.desc|linebreaks }}
            </p>

            {% for tag in book.get_book_normal_tas %}
                <a class="badge badge badge-pill badge-primary"
                   href="{% url 'search_site:search_page' %}?tag={{ tag.name }}">{{ tag.name }}</a>
            {% endfor %}

            <div>
                {% if user.username == 'admin' %}
                    <a href="{% url 'admin:mainsite_book_change' book.id %}">编辑书本</a>
                    <a href="{% url 'admin:mainsite_book_add' %}">添加书本</a>
                {% endif %}</div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-12" style="height: 1em;">

        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-285843">
                <ul class="nav nav-tabs" id="tab-files">
                    <li class="nav-item">
                        <a class="nav-link active" href="#panel-mobi" data-toggle="tab">Mobi格式</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#panel-epub" data-toggle="tab">Epub格式</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#panel-zip" data-toggle="tab">Zip格式</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-mobi">
                        <blockquote>
                            <p class="text-info">
                                <em>mobi</em>为适用kindle等设备的格式<br>
                                按照<em>Kindle PaperWhite 3</em>规格进行制作
                            </p>
                            <a href="{% url 'bandwidth_rule' %}" target="_blank"> <p>关于流量消耗策略？</p> </a>
                        </blockquote>
                        {% for volume_group_name,volumes in volumes_dict.items %}
                            <div><p>{{ volume_group_name }}</p></div>
                            <table class="table table-striped table-hover table-condensed .table-sm">
                                <thead>
                                <tr>
                                    <th>卷名</th>
                                    <th>mobi文件大小</th>
                                    <th>推送用mobi大小</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for volume in volumes %}
                                    <tr>
                                        <td>{{ volume.name }}</td>
                                        <td><a href='javascript:void(0);' vid="{{ volume.id }}"
                                               onclick="download_volume(this,'mobi')">{{ volume.get_mobi_file_size_MB }}
                                            MB</a>{% if user.vip %}(流量仅消耗{{ volume.bandwidth_cost}}MB){% endif %}</td>
                                        <td>{{ volume.get_mobi_push_file_size_MB }}MB
                                        </td>
                                        {% if user.id %}
                                            <td>
                                                <button volumeid={{ volume.id }} type="button"
                                                        class="btn btn-outline-primary  btn-sm"
                                                        onclick="push_volume(this,false)" ;>推送
                                                </button>
                                            </td>
                                        {% else %}
                                            <td>
                                                <button volumeid={{ volume.id }} type="button"
                                                        class="btn btn-outline-primary  btn-sm"
                                                        onclick="alert('请登录！');">推送
                                                </button>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="panel-epub">
                        <blockquote>
                            <p class="text-info">
                                <em>epub</em>为通用的格式，适用<em>Kobo</em>、<em>ipad</em><em>手机</em>等设备<br>
                                按照<em>Kobo Aura HD</em>规格进行制作
                            </p>
                        </blockquote>
                    <a href="{% url 'bandwidth_rule' %}" target="_blank"> <p>关于流量消耗策略？</p> </a>
                        {% for volume_group_name,volumes in volumes_dict.items %}
                            <div><p>{{ volume_group_name }}</p></div>
                            <table class="table table-striped table-hover table-condensed .table-sm">
                                <thead>
                                <tr>
                                    <th>卷名</th>
                                    <th>epub文件大小</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for volume in volumes %}
                                    <tr>
                                        <td>{{ volume.name }}</td>
                                        <td><a href='javascript:void(0);' vid="{{ volume.id }}"
                                               onclick="download_volume(this,'epub')">{{ volume.get_epub_file_size_MB }}
                                            MB</a>{% if user.vip %}(流量仅消耗{{ volume.bandwidth_cost}}MB){% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="panel-zip">
                        <blockquote>

                            <p class="text-info">
                                <em>zip</em>适合任何方式阅读<br>为原始流出资源的尺寸

                            </p>
                        </blockquote>
                        <a href="{% url 'bandwidth_rule' %}" target="_blank"> <p>关于流量消耗策略？</p> </a>
                        {% for volume_group_name,volumes in volumes_dict.items %}
                            <div><p class="">{{ volume_group_name }}</p></div>
                            <table class="table .table-sm table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th>卷名</th>
                                    <th>zip文件大小</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for volume in volumes %}
                                    <tr>
                                        <td>{{ volume.name }}</td>
                                        <td><a href='javascript:void(0);' vid="{{ volume.id }}"
                                               onclick="download_volume(this,'zip')">{{ volume.get_zip_file_size_MB }}
                                            MB</a>{% if user.vip %}(流量仅消耗{{ volume.bandwidth_cost}}MB){% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>