<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KindleGalleryPusher 问题反馈</title>
    {% include 'mainsite/load_bootstrap.html' %}
</head>
<body>
<div class="container">
    {% include 'mainsite/book_info_header.html' %}
    <div style="height: 4em;"></div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h4>
                    反馈成功
                </h4>
                <p>
                    您好，感谢您反馈问题，我在收到您的问题后尽快进行回复。
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="/">点此回到首页</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>